<h1> Form </h1>

<%= form_for(:research) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <br>
  <%= f.label :author %><br>
  <%= f.text_area :author %>
  <br>
  <%= f.label :contributors %><br>
  <%= f.text_area :contributor %>
  <br>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :"Call Number" %><br>
  <%= f.text_field :callNo %>
  <br>
  <%= f.label :"Year published" %><br>
  <%= f.text_field :year %>
  <br>
  <%= f.label :Image %>
  <%= f.file_field :research_img %>
  <br>

  <br>

  <%= f.submit "Insert a Research" %><br><br>
  <%= link_to "Back", research_index_path %>

  <% end %>
