<div class = "row" >

  <div class = "col-md-4">
  <%= image_tag @research.research_img.url(:research_show), class: "research-show" %>

</div>

  <div class = "col-md-8" >
    <h3> Title </h3>
    <%= @research.title %> <br>
    <h3> Author </h3>
    <%= @research.author %> <br>
    <h3> Description </h3>
    <%= @research.description %> <br>
    <h3> Call Number </h3>
    <%= @research.callNo %> <br>
    <h4> Year Published </h4>
    <%= @research.year %> <br>

  </div>
</div>
<%= link_to "Back", research_index_path %>
<%= link_to "Edit", "/research/#{@research.id}/edit" %>
<%= link_to "Delete" , "/research/#{@research.id}/destroy" %>
