<div class = "row" >

</div>

  <div class = "col-md-8" >
    <h3> Event Title </h3>
    <%= @event.event_name %> <br>
    <h3> Description </h3>
    <%= @event.event_description %> <br>
    <h3> Date </h3>
    <%= @event.event_date %> <br>
    <h3> Venue </h3>
    <%= @event.event_venue %> <br>

<%= link_to "Back", event_index_path %>

    <% if @event.user == current_user %>
      <%= link_to "Edit", "/event/#{@event.id}/edit" %>
      <%= link_to "Delete" , "/event/#{@event.id}/destroy" %>
    <% end %>

  </div>

</div>
