<h1> Index </h1>



<% @abouts.each do |x| %>
<%= image_tag x.about_img.url(:about_index), class: "about" %>

<h2> Mission </h2>
<%= x.mission %>

<h2> Vision </h2>
<%= x.vision %>

<h2> History </h2>
<%= x.his %> <br>
<% end %>

<%= link_to "Update Section" , "/about/1/edit" %>
