
  <div class = "about-container">
    <h2> About </h2>
    <%= image_tag @about.about_img.url(:about_index), class: "about_index" %>
  </div>


<div class = "col">
<div class = "col-xs-6">
    <div class = "mission-container">
      <h2> Mission </h2>
      <%= @about.mission %>
    </div>
  </div>


  <div class = "col-xs-6">
    <div class = "vision-container">
      <h2> Vision </h2>
      <%= @about.vision %>
    </div>
    </div>



<div class = "row-xs-6">
<div class = "history-container">
   <h2> History </h2>
    <%= @about.his %> <br>
</div>
</div>

</div>
<% if @about.user == current_user %>
  <%= link_to "Update" , "/about/1/edit" %>
<% end %>
