<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>


  <body >
    <div class = "banner">
      Ateneo de Naga University
      <div class = "toright">
            
            <% if !user_signed_in? %>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-signout"  %>
            <% end %>

            <% if user_signed_in? %>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-signout"  %>
                <% else %>
                <%= link_to "Log in" , new_user_session_path, class: "navbar-signout" %> 
            <% end %>
          </div>
    </div>

    <div class = "header" >
        DEPARTMENT OF PSYCHOLOGY 
          <div class = "search-field" >
            <%= form_tag "/search_items/" do %>
              <%= text_field_tag :search_string %>   
              <%= submit_tag :search%>
            <% end %>
          </div>
    </div>

    <nav class = "navbar navbar-default">
      <div class = "container" >
        <div class = "navbar-header" >
          <%= link_to "Home" , event_index_path, class: "navbar-brand" %>
          <%= link_to "Subjects" , subject_index_path, class: "navbar-brand" %>
          <%= link_to "Research" , research_index_path, class: "navbar-brand" %>
          <%= link_to "Events" , event_eventlist_path, class: "navbar-brand" %>
          <%= link_to "People" , officer_index_path, class: "navbar-brand" %>
          <%= link_to "About Us" , about_index_path, class: "navbar-brand" %>

       </div>
        

    </div>

    </nav>

    <p class="notice"><%= notice %></p>

    <p class="alert"><%= alert %></p>

    <div class = "container1">
      <%= yield %>
    </div>
  </body>

  <div class = "footer">
  </div>
</html>
